* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  align-self: flex-start;
  width: 75px;
  height: 50px;
  /* margin-bottom: 10em; */
}

.wrapper {
  display: flex;
  flex-direction: column;
}

span {
  margin: 0.2em;
}

.colorOutput {
  width: 250px;
  height: 250px;
  background: #2498e0;
}
